<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.default_schema">metrics</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.cfg.xml">create</property>
        <mapping resource="codalyze/JavancssImports.hbm.xml" />
        <mapping resource="codalyze/JavancssFunctions.hbm.xml" />
        <mapping resource="codalyze/JavancssPackages.hbm.xml" />
        <mapping resource="codalyze/JavancssObjects.hbm.xml" />
    </session-factory>
</hibernate-configuration>
