/*js-in-css:faw-skin-default-1.0.0.js*/
@import url(http://yui.yahooapis.com/2.5.2/build/base/base-min.css);
@import url(http://yui.yahooapis.com/2.5.2/build/base/reset-min.css);

.faw-skin-default {
	background-color: black;
	color:white;
}

.faw-skin-default .faw-image-tmb {
	width: 75px;
	height: 75px;
}

.faw-skin-default .faw-image-list a {
	padding: 0;
	margin: 0;
}

.faw-skin-default .faw-image-list img {
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	background-color: white;
}

.faw-skin-default .faw-image-list .clear {
	clear:both;
}

.faw-skin-default .faw-image-list-item {
	border-bottom: 3px solid white;
	list-style: none;
	padding: 0;
	margin: 0;
	display:block;
	float:left;
}

.faw-skin-default .faw-image-list-item.first-item {
	border-left: 3px solid white;
	
}

.faw-skin-default .faw-image-list-item.last-item {
	border-right: 3px solid white;
	border-left: 3px solid white;
}

.faw-skin-default .faw-image-list-item.central-item {
	border-left: 3px solid white;
}

.faw-skin-default .faw-image-list-item.first-line {
	border-top: 3px solid white;
}

.faw-skin-default .faw-image-list-item.last-item {
	border-right: 3px solid white;
}

.faw-skin-default .faw-set-selection-current {
	background-color: gray;
}

.faw-skin-default .faw-page-title {
	position: absolute;
	top: 0em;
	left:0;
	font-size: 150%;
	font-weight: bold;
	padding:0;
	margin: 0;
	padding-left: 0.2em;
}

.faw-skin-default .faw-controls {
	position:absolute;
	top: 2em;
	font-family: sans-serif;
	padding:0.1em;
	padding-left: 0.2em;
}

.faw-skin-default .faw-image-list {
	float: left;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 6em;
	left: 1em;
	z-index: 99;
}

.faw-skin-default .faw-original-location-notice {
	color: gray;
	font-size: 80%;
}

.faw-skin-default .faw-original-location-notice a {
	color: gray;
}

.faw-skin-default .faw-image-container {
	position: absolute;
	top: 4em;
	left: 2em;
	border: 2px solid white;
	padding-left: 20em;
	padding-bottom: 2em;
	padding-top: 2em;
	padding-right: 2em;
}

.faw-skin-default .faw-image-header {
	z-index: 99;
	padding: 0;
	padding-bottom: 0.2em;
	overflow:hidden;
	display: block;
	font-family: sans-serif;
}

.faw-skin-default .faw-image-header h3 {
	display:inline;
	color:#ddd;
	letter-spacing:2px;
}

.faw-skin-default .faw-ctrl {
	color: white;
	text-decoration: none;
	padding: 0.2em;
}

.faw-skin-default .faw-ctrl-selected {
	background-color: gray;
}

.faw-skin-default .faw-image-tmb-link-selected {
	border-color: black;
}

.faw-skin-default a {
	color: white;
}

.faw-skin-default a:hover {
	color: white;
}

.faw-skin-default a:visited {
	color: white;
}

.faw-image-controls {
	position:absolute;
	top:2.5em;
	left:2em;
	z-index:99;
	width: 20em;
}