.stb-skin-default .stb-middle {
	width: 7em;
	position: relative;
	border-top: 2px dashed black;
	left:0em;
	z-index: 91;
}

#stand-by {
	position:absolute;
	left: 3em;
	top:4em;
	width: 21em;
	height: 2px;
	z-index: 90;
}